<div ng-controller="DropDownController">
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Menu</button>      
        <div id="myDropdown" class="dropdown-content">
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ng-repeat="a in subjects">
                <li><a href="#!/HomePage">HomePage</a>
                <li><a href="#!/Overview">Overview</a>
                <li><a href="#!/NewTravel">Newtravel</a>
                <li><a href="#!/Supportchat">Supportchat</a>
                <li><a href="#!/NewCar">NewCar</a>
                <li><a href="#!/Rapport">Rapport</a>
                <li><a href="#!/HomePage">Logga Ut</a>
            </ul>
        </div>
    </div>
 </div>




