<ng-include src="'../directory/Directory.html'"></ng-include>
<div>
    <h1 class="hej">Journey</h1>
</div>

<strong>Lägg till/hantera fordon</strong>
<br />
<br />
<form action="/action_page.php" style="border:1px solid #ccc">
    <label for="exampleFormControlSelect1"></label>
    <select ng-click="titleHandleVehicle" class="form-control" id="exampleFormControlSelect1">
        <option>ABC123</option>
    </select>


    <button ng-click="addNewVehicleTitle">Lägg till ny fordon</button>
</form>

<button type="submit">Spara</button>

