<ng-include src="'../directory/Directory.html'"></ng-include>
<form action="/action_page.php" style="border:1px solid #ccc">
    <div>
        <h1 class="hej">Journey</h1>
    </div>

    <h1> Registrera nya resor</h1>

    <div class="container">
        <div class="form-group">
            <label for="exampleFormControlSelect1"></label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>ABC123</option>
            </select>
            <div>
           
            <br />
            <label for="uname"><b></b></label>
            <input type="text" placeholder="Mätarställning Start" name="uname" required>
            <label for="uname"><b></b></label>
            <input type="text" placeholder="Mätarställning Slut" name="uname" required>
            <label for="uname"><b></b></label>
            <input type="number" placeholder="Relängd km....." name="uname" required>
            <label for="uname"><b></b></label>
            <input type="text" placeholder="Startadress" name="uname" required>
            <label for="uname"><b></b></label>
            <input type="text" placeholder="Destinationsadress" name="uname" required>
            <label for="uname"><b></b></label>
            <input type="text" class="Arende" placeholder="Ärandet" name="uname" required>
            <label for="uname"><b></b></label>
            <input type="text" class="Andtek" placeholder="Antekningar" name="uname" required>

        </div>

    </div>
</div>
</form>



<!--<md-content ng-controller="AppCtrl as ctrl" layout-padding ng-cloak>
    <div layout-gt-xs="row">
        <div flex-gt-xs>
            <h4>Standard date-picker</h4>
            <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>
        </div>

    </div>
</md-content>-->
<!--<span onclick="openMenu()" class="w3-button w3-display-topright w3-transparent w3-hover-dark-grey" title="Close Menu" style="font-weight:bold;padding-top:10px;padding-bottom:11px;">×</span>-->