<ng-include src="'../directory/Directory.html'"></ng-include>
<form style="border:1px solid #ccc">
    <div>
        <h1 class="hej">Journey</h1>
    </div>

    <h1> Registrera nya resor</h1>

    <div class="container">
        <div class="form-group">
            <label for="exampleFormControlSelect1"></label>
            <select class="form-control" ng-model="vehicle_value" ng-options="vehicle.regNr for vehicle in vehicles | filter: {active:'true'}" ng-change="setVehicle()"></select>
            <div>
                <br />
                <div class="input-group">
                    <input type="date" class="form-control" ng-model="date">
                </div>

                <input placeholder="Ange antal start Km" type="text" id="KmStart" ng-model="KmStart" /><br />
                <input placeholder="Ange km vid slut" type="text" id="KmStop" ng-model="KmStop" /><br />
                <input type="button" value="Sum" ng-click="sum(KmStart,KmStop)" />
                <input type="text" ng-model="addition" />
                <input ng-model="StartDes" type="text" placeholder="Startadress" required>
                <button class="active" placeholder="Start location" ng-click="getStartDes()">Startadress</button>
                <input ng-model="StopDes" type="text" placeholder="Destinationsadress">
                <button class="active" placeholder="Start location" ng-click="getslutDes()">Slutadress</button>
                <input ng-model="Arende" type="text" class="Arende" placeholder="Ärenden" name="arende">
                <input ng-model="Andtek" type="text" class="Andtek" placeholder="Anteckningar" name="anteckningar">


                <div ng-click="SaveTrip()">
                    <button type="submit" class="add">
                        Add
                    </button>
                </div>
            </div>

    </div>
</div>
</form>



